{% extends "base.html" %}

{% block scripts %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

{% endblock %}

{% block content %}

<div class="container">

    <div class="starter-template">
      <h1>Seattle Restaurant Data</h1>
      <p>Check out Seattle restaurant health safety ratings by neighborhoods.</p>
    </div>
  
    <div id="map"></div>
</div>

<script src="{{ url_for('.static', filename = 'js/map.js') }}"></script>

{% endblock %}
